flask-cors
langchain
gunicorn
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-groq
pymupdf
groq
streamlit
fastapi
uvicorn
python-multipart
flask-restful
flask